* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: white;
  font-family: "IBM Plex Sans", sans-serif;
}
.dropdown {
  border-radius: 0.5vh;
  background-color: #2196F3;
  font-size: 3vh;
  font-family: "IBM Plex sans", sans-serif;
  font-variant: small-caps;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  width: 15vh;
  height: 5vh;
  padding-left: 0vh;
}

.dropdown:hover {
  background-color: #70AFE1;
}

}
